<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: html_head"/>
	    <body>
        <div th:replace="fragments :: header">
		</div>


            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>About Us</h2>
                        </div>
                        <div class="col-12">
                            <a href="index" class="nav-item nav-link">Home</a>
                            <a href="">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <img src="img/poster.jpg" alt="Image">
                        </div>
                        <div class="col-md-6">
                            <h2 class="section-title">Learn About Us</h2>
                            <p>
                                We are a vibrant kid to recogn in the IT fratenity. Best brains of Africa converge to solve your IT related problems the moment you
                                identify them and willing to solve them in a blink of an eye.
                            </p>
                            <p>
                                Informed entities are here, We are also here that's why you see us. Our wish is to see you here permanantly doing what
                                you know best. 
                            </p>
                            <p>
                                Bobsum team is a plug that cater for your connection to the world while you cater for what to give to that world.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->


            <!-- Story Start -->
            <div class="story">
                <div class="container-fluid">
                    <div class="section-header">
                        <h2>Our Story</h2>
                        <p>Inspired by time, technology and quest to solve humanity problems  (including yours!) we find ourselves here.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="story-container">
                                <div class="story-end">
                                    <p>Now</p>
                                </div>
                                <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-icon">
                                                    <i class="fa fa-gift"></i>
                                                </div>
                                                <div class="story-text">
                                                    <h3>Perfection</h3>
                                                    <p>Ventured into full time Web App  development</p>
                                                </div>
                                            </div>
                                        </div>
                                <div class="story-continue">

                                    <div class="row story-right">
                                        <div class="col-md-6">
                                            <p class="story-date">
                                                01 Jun 2020
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-icon">
                                                    <i class="fa fa-gift"></i>
                                                </div>
                                                <div class="story-text">
                                                    <h3>Specialization</h3>
                                                    <p>Launched Web development</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row story-left">
                                        <div class="col-md-6 d-md-none d-block">
                                            <p class="story-date">
                                                01 Jan 2020
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-icon d-md-none d-block">
                                                    <i class="fa fa-business-time"></i>
                                                </div>
                                                <div class="story-text">
                                                    <h3>Expansion</h3>
                                                    <p>Added six members to the development team.</p>
                                                </div>
                                                <div class="story-icon d-md-block d-none">
                                                    <i class="fa fa-business-time"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-md-block d-none">
                                            <p class="story-date">
                                                01 Jan 2020
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="story-year">
                                                <p>2020</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row story-right">
                                        <div class="col-md-6">
                                            <p class="story-date">
                                                01 Dec 2019
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-icon">
                                                    <i class="fa fa-briefcase"></i>
                                                </div>
                                                <div class="story-text">
                                                    <h3>New Release</h3>
                                                    <p>Released a Gaming Predictor App</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row story-left">
                                        <div class="col-md-6 d-md-none d-block">
                                            <p class="story-date">
                                                01 Sep  2019
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-icon d-md-none d-block">
                                                    <i class="fa fa-cogs"></i>
                                                </div>
                                                <div class="story-text">
                                                    <h3>Expansion</h3>
                                                    <p>Opened a subsidiary in Johannesburg.</p>
                                                </div>
                                                <div class="story-icon d-md-block d-none">
                                                    <i class="fa fa-cogs"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-md-block d-none">
                                            <p class="story-date">
                                                01 Sep  2019
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row story-right">
                                        <div class="col-md-6">
                                            <p class="story-date">
                                                01 Jun 2019
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-icon">
                                                    <i class="fa fa-running"></i>
                                                </div>
                                                <div class="story-text">
                                                    <h3>College</h3>
                                                    <p>Bobsum launched BobTech Institute to train coders in Html, Css, Python and Java.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row story-left">
                                        <div class="col-md-6 d-md-none d-block">
                                            <p class="story-date">
                                                01 Mar 2019
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-icon d-md-none d-block">
                                                    <i class="fa fa-home"></i>
                                                </div>
                                                <div class="story-text">
                                                    <h3>Official Office</h3>
                                                    <p>Adopted Bongani Serve All Centre,Hazyview, Mpumalanga as Main Head Office</p>
                                                </div>
                                                <div class="story-icon d-md-block d-none">
                                                    <i class="fa fa-home"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-md-block d-none">
                                            <p class="story-date">
                                                01 Mar 2019
                                            </p>
                                            <p>
                                                The company launched its first version of betmate app.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="story-start">
                                    <p>Launch</p>
                                </div>
                                <div class="story-launch">
                                    <div class="story-box">
                                        <div class="story-text">
                                            <h3>Launched our company on 08 Feb 2019</h3>
                                            <p>Gracious, Victor and Anthony launched Bobsum Tech as a subsidiary of Bobsum Investments. The company specialised 
                                                in promoting coders, technology architects and designers.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Story End -->


            <!-- Team Start -->
            <div class="team">
                <div class="container-fluid">
                    <div class="section-header">
                        <h2>Our Team</h2>
                        <p>Our dedicated team is ever ready to produce the value that you deserve</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-3 ">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="img/grac.png" alt="Team">
                                </div>
                                <div class="team-text">
                                    <h3>Gracious Sithole</h3>
                                    <p>Developer</p>
                                </div>
                                <div class="team-social">
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-pinterest"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 ">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="img/teev.jpg" alt="Team">
                                </div>
                                <div class="team-text">
                                    <h3>Tivonge P</h3>
                                    <p>Marketing</p>
                                </div>
                                <div class="team-social">
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-pinterest"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        </div>
                    </div>
                </div>
            
            <!-- Team End -->


            


            <!-- Footer Start -->
            <div th:replace="fragments :: footer">
			</div>
            <!-- Footer End -->
        

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
