<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
<meta charset="utf-8">
        <title>[[${pageTitle}]]Bobsum Tech Solutions</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Bootstrap Agency Template" name="keywords">
        <meta content="Bootstrap Agency Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="libs/slick/slick-theme.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-198950711-1">
	</script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-198950711-1');
	</script>
</head>
<body>
	<div th:fragment="header">
		
		<div class="wrapper">
            <!-- Header Start -->
            <div class="header">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-2">
                            <div class="brand">
                                <a href="index">
                                    <img src="img/logoo.png" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="topbar">
                                <div class="topbar-col">
                                    <a href="tel:+27 60 655 2633"><i class="fa fa-phone-alt"></i>+27 60 655 2633</a>
                                </div>
                                <div class="topbar-col">
                                    <a href="mailto:techbobsum@gmail.com"><i class="fa fa-envelope"></i>techbobsum@.gmail.com</a>
                                </div>
                                <div class="topbar-col">
                                    <div class="topbar-social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar navbar-expand-lg bg-light navbar-light">
                                <a href="#" class="navbar-brand">MENU</a>
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                    <div class="navbar-nav ml-auto">
                                        <a href="index" class="nav-item nav-link active">Home</a>
                                        <a href="about" class="nav-item nav-link">About Us</a>
                                        <a href="services" class="nav-item nav-link">Services</a>
                                        <!-- <a href="portfolio" class="nav-item nav-link">Portfolio</a>
                                        <a href="single" class="nav-item nav-link">Single Page</a> -->
                                        <a href="contact" class="nav-item nav-link">Contact Us</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<div th:fragment="footer">
		<!-- Call to Action Start -->
        <div class="call-to-action">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-9">
                        <h2>Get A Free Quote of Our Services</h2>
                        <p>
                            Your satisfaction is our top most priority!
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a class="btn" href="contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
            <!-- Call to Action End -->
		<div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="footer-about">
                                <h2>About Us</h2>
                                <p>
                                    We are Bobsum! Our dedication is to connect you and your business with the rest of the world. 
                                </p>
                                <br>
                                
                                <p><i class="fa fa-phone-alt"></i>+27 60 655 2633</p>
                                <p><i class="fa fa-envelope"></i>techbobsum@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="footer-link">
                                        <h2>Useful Link</h2>
                                        <a href="about">About Us</a>
                                        <a href="about">Our Story</a>
                                        <a href="services">Our Services</a>
                                        <!-- <a href="">Our Portfolio</a>
                                        <a href="">Our Projects</a> -->
                                        <a href="contact">Contact Us</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="footer-link">
                                        <h2>Useful Link</h2>
                                        <a href="">Our Clients</a>
                                        <a href="">Clients Review</a>
                                        <a href="">Ongoing Customer</a>
                                        <a href="contact">Customer Support</a>
                                        <a href="">FAQs</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="">Bobsum Tech Solutions</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Powered By <a href="">Bobsum Investments</a>, 2021</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
	</div>

</body>
</html>
