<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: html_head"/>

    <body>
        <div th:replace="fragments :: header">
		</div>
        <div class="hero">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h2>Want to engage the World?</h2>
                        <h2><span>We will Present you to the World for less than you can imagine.</span></h2>
                        <p> You have toiled enough setting your business ideas and making them real. Let the world know what you have to offer them. Your Enterprise 
                            Face need to be seen by those whom your business touch. Trust us we will build that Face for you the way you like.  
                        </p>
                        <p>For all your needs in Web Design, Development, Mentainance, Service and Hosting, we are a <a href="contact">Click away</a></p>
                        
                        
                    </div>
                    <div class="col-md-6">
                        <img src="img/hero.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments :: footer">
		</div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>