<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head th:replace="fragments :: html_head"/>

    <body>
        <div th:replace="fragments :: header">
		</div>


            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Our Services</h2>
                        </div>
                        <div class="col-12">
                            <a href="index" class="nav-item nav-link">Home</a>
                            <a href="">Services</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Service Start -->
            <div class="service">
                <div class="container-fluid">
                    <div class="section-header">
                        <h2>Our Services</h2>
                        <p>We lead, others follow!</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="service-item">
                                <h3>Web Design</h3>
                                <img src="img/icon-service-1.png" alt="Service">
                                <p>Designing your superhero Face is our speciality. Just say how you want to look like and how you want to interact with 
                                    your clients then consider it done. </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="service-item">
                                <h3>Development</h3>
                                <img src="img/icon-service-2.png" alt="Service">
                                <p>Our development team work 24/7/365 to put you on the world map as a Competent entity. From designing till deployment
                                    and crossing over to servicing, we will be your buddie through and through.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="service-item">
                                <h3>UI Design</h3>
                                <img src="img/icon-service-3.png" alt="Service">
                                <p>You have your business logic and the missing link is UI, dont deny consumers of your creativity by denying them that
                                    final fine experience. We are there to clothe your wonderful creation. User Interfaces are ours speciality, dont despair.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="service-item">
                                <h3>SEO</h3>
                                <img src="img/icon-service-7.png" alt="Service">
                                <p>Our specialized team is dedicated to keep your website healthy by tracking all activities happening to your
                                it. Improved traffic is guaranteed with us. </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- Service End -->


            <!-- Service Row Start -->
            <div class="service-row">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 d-md-none d-block">
                            <div class="service-row-img">
                                <img src="img/service-1.png" alt="Service">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-row-text">
                                <h2 class="section-title">Web Design</h2>
                                <p>
                                    We have experienced web designers whose policy is "Dream it and we make exactly how it looks like"
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-md-6 d-md-block d-none">
                            <div class="service-row-img">
                                <img src="img/service-1.png" alt="Service">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service Row End -->


            <!-- Service Row Start -->
            <div class="service-row">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="service-row-img">
                                <img src="img/service-2.png" alt="Service">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-row-text">
                                <h2 class="section-title">Web Development</h2>
                                <p>
                                    Our mission is to develop self tailored websites which potray exact expressions of out clients.
                                    We have tonnes of templates for our clients to choose from.However we prefer building your site from scratch.
                                    If your site needs to store data, we do database connection for you. Our clients are corporates, small businesse and individuals.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service Row End -->


            <!-- Service Row Start -->
            <div class="service-row">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 d-md-none d-block">
                            <div class="service-row-img">
                                <img src="img/service-3.png" alt="Service">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-row-text">
                                <h2 class="section-title">Web Security</h2>
                                <p>
                                    Keep safe from cyber attacks. Let us protect your site. Just say it, we will do it for you.
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-md-6 d-md-block d-none">
                            <div class="service-row-img">
                                <img src="img/service-3.png" alt="Service">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service Row End -->


            <!-- Service Row Start -->
            <div class="service-row">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="service-row-img">
                                <img src="img/service-4.png" alt="Service">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-row-text">
                                <h2 class="section-title">Online Marketing</h2>
                                <p>
                                    Are you into business? Online Marketing has been growing tremendously with tangible fruits.
                                    We are ready to assist if consider that route.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service Row End -->


            <div th:replace="fragments :: footer">
			</div>
        

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>